@model MobileApp.Models.Artist

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes do artista - @Model.Name</h2>


<h3>@Html.DisplayNameFor(model => model.Name)</h3>
<span>@Html.DisplayFor(model => model.Name)</span>


@Html.ActionLink("Excluir", "Delete", new { id = Model.ArtistId }, new { data_role = "button" })

@Html.ActionLink("Alterar", "Edit", new { id = Model.ArtistId }, new { data_role = "button" })

@Html.ActionLink("Voltar", "Index", null, new { data_role = "button" })


